.box{
    width: 60%;
    margin: 150px auto;
    display: flex;
    height: 700px;
}

.user_list {
    width: 30%;
    border: solid 2px black;
    padding: 10px 15px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 5px 10px;
    border: solid 2px black;
}

#message {
    width: 85%;
    height: 50px;
}